header>h1 {
    font-family: "Delius Swash Caps", "Delius", serif;
    background-color: darkgreen;
    padding: 2rem;
    text-align: center;
    color: antiquewhite;
}

main {
    font-family: "Montserrat Alternates", sans-serif;
    padding: 1rem;
    padding-bottom: 2rem;
    max-width: 80%;
    margin: auto;
}

form {
    background-color: antiquewhite;
    padding: 1rem;
}

.wf1 label {
    display: block;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select,
.wf1 textarea {
    display: block;
    background-color: lightgreen;
    border: solid 1px darkgreen;
    border-radius: 0.4rem;
    padding: 0.75rem;
    width: 90%;
    max-width: 400px;
    margin-top: 0.5rem;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 8px;
}

.wf1 input[type="submit"] {
    border: 0.5px solid darkgreen;
    background-image: linear-gradient(lightpink, deeppink);
    border-radius: 0.4rem;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
    margin: 2rem 5% 2rem 5%;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.25rem;
}

div {
    padding-top: 1rem;
    padding-left: 2rem;
}

footer {
    font-family: "Delius Swash Caps", "Delius", serif;
    background-color: darkgreen;
    color: antiquewhite;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}